@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Styles/style.css" rel="stylesheet" type="text/css" />    
    @RenderSection("styles")
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        &copy; @DateTime.Now.Year - All rights reserved.
    </div>
    @RenderSection("scripts")
</body>
</html>
