@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        body {
            background-color: #FDFFFF !important;
        }

        #aside {
            margin-left: 20px;
        }

        #user-profile-2 div p {
            max-height: 290px;
            overflow: hidden;
            white-space: normal;
        }

        div {
            text-align: justify;
        }

        #accountPlace input {
            height: 25px;
            width: 150px;
        }

        #accountPlace ul li {
            display: inline-block;
        }

        #accountPlace input[type="submit"] {
            padding: 0px;
            width: 100px;
        }

        #accountPlace input {
            padding: 5px;
        }

        .required {
            color: red;
        }
    </style>

    <link href="~/Styles/Plugin/CSS/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Styles/Plugin/style01.css" rel="stylesheet" />
    <link href="~/Styles/Plugin/style02.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Styles/Plugin/Img/slide-1.jpg" />

    <link href="~/Styles/Plugin/style.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        var Service = {};
        var ViewModel = {};
        var Controller = {};
    </script>

    <script src="~/Scripts/Service/Service.js"></script>
    <script src="~/Scripts/Service/ViewModel.js"></script>
    <script src="~/Scripts/Service/Controller.js"></script>
</head>
<body>
    <div class="site-container">
        <header class="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
            <div class="wrap">
                <div class="title-area">
                    <h1 class="site-title" itemprop="headline">
                        <a href="/"><img src="~/Images/logo.png" /></a>
                    </h1>
                </div>
                <div class="widget-area header-widget-area">
                    <h2 class="genesis-sidebar-title screen-reader-text">Header Right</h2>
                    @*<section id="search-8" class="widget-1 widget-first widget-odd widget widget_search">
                            <div class="widget-1 widget-first widget-odd widget-wrap">
                                <form class="search-form" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" method="get" action="http://www.thefullhelping.com/" role="search">
                                    <meta itemprop="target" content="http://www.thefullhelping.com/?s={s}">
                                    <label class="search-form-label screen-reader-text" for="searchform-5890ce60e5580"></label>
                                    <input itemprop="query-input" type="search" name="s" id="searchform-5890ce60e5580" placeholder="">
                                    <input type="submit" value="">
                                </form>
                            </div>
                        </section>*@
                    <section id="accountPlace" class="widget-2 widget-even widget simple-social-icons">
                        <div class="widget-2 widget-even widget-wrap">
                            @if (!this.Model)
                            {
                                <form method="post" action="/Account/Login">
                                    <ul class="aligncenter">
                                        <li>
                                            <label for="loginEmail">Имейл: </label>
                                            <input required="required" name="username" type="text" />
                                        </li>
                                        <li>
                                            <label for="loginPassword">Парола: </label>
                                            <input required="required" name="password" type="password" />
                                        </li>
                                        <li>
                                            <input type="submit" value="Sign In" />
                                        </li>
                                        <li>
                                            <a href="/Account/Register">Register</a>
                                        </li>
                                    </ul>
                                </form>
                            }
                            else
                            {
                                <form method="post" action="/Account/Logoff">
                                    <ul class="aligncenter">
                                        <li>
                                            <span>Здравей, <span class="required">@this.ViewData["Username"]</span></span>
                                        </li>
                                        <li>
                                            <input type="submit" value="Log Off" />
                                        </li>
                                    </ul>
                                </form>
                            }
                        </div>
                    </section>

                    <!-- NAV menu -->
                    <section id="nav_menu-4" class="widget-3 widget-last widget-odd widget widget_nav_menu">
                        <div class="widget-3 widget-last widget-odd widget-wrap">
                            <div class="menu-toggle">
                                <span></span>
                            </div>
                            <nav class="nav-header" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                                <ul id="menu-main" class="menu genesis-nav-menu">
                                    <li id="menu-item-home" class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-12010"><a href="/" itemprop="url"><span itemprop="name">Начало</span></a></li>
                                    <li id="menu-item-recipes" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12015"><a href="/Recipes" itemprop="url"><span itemprop="name">Рецепти</span></a></li>
                                    <li id="menu-item-about" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12019 menu-item-hover"><a href="/About" itemprop="url"><span itemprop="name">Повече информация</span></a></li>
                                    <li id="menu-item-contact" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12014"><a href="/Contact" itemprop="url"><span itemprop="name">Контакт</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </section>
                </div>
            </div>
        </header>
        <div class="site-inner">
            @RenderBody()
        </div>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>&copy; @DateTime.Now.Year - All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Modal")
    <script type="text/javascript">
        Controller.init();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
